

<dl class="dl-horizontal">
  <dt>First name</dt>
  <dd><%= @patient.first_name %></dd>
  <dt>Last name</dt>
  <dd><%= @patient.last_name %></dd>
  <dt>Email</dt>
  <dd><%= mail_to @patient.email %></dd>
  <br>
  <dt>Subscales</dt>
  <dd>Survey Results</dd>
  <dt>Internal</dt>
  <dd><%= @patient.survey.internal %></dd>
  <dt>Chance</dt>
  <dd><%=@patient.survey.chance %></dd>
  <dt>Doctors</dt>
  <dd><%=@patient.survey.doctors %></dd>
  <dt>Other People</dt>
  <dd><%=@patient.survey.other_people %></dd>
</dl>

  <div class= "row">
    <div class= "col-md-offset-2">
      <h4> Breakdown </h4>

    <% @patient.survey.results.each do |q, a| %>
      <p><%= q %> = <%= a %></p>
    <% end %>
  </div>
</div>
