<div class="row">
  Welcome <%=current_user.full_name %>,
  <div class="page-header">
    <h1>Instructions</h1>
    <p>Instructions:
      Each item below is a belief statement about your medical condition with which you may agree or disagree.
      Beside each statement is a scale which ranges from strongly disagree to strongly agree.
      For each item we would like you to choose the answer that represents the extent to which you agree or disagree with that statement.
      Please make sure that you answer EVERY ITEM. This is a measure of your personal beliefs; obviously, there are no right or wrong answers.
    </p>
  </div>
</div>
<div class="container">
  <%=form_for @survey, html: {class: "form-horizontal"}  do |f| %>

    <div class="form-group">
      1. <%= label_tag(:q1, "If my condition worsens, it is my own behavior which determines how soon I will feel better again.") %>
      <%= f.select(:q1, [["Choose one"],["Strongly disagree", 1],["Moderately disagree", 2],["Slightly disagree", 3],["Slightly agree", 4],["Moderately agree", 5],["Stongly agree", 6]]) %>
    </div>

    <div class="form-group">
      2. <%= label_tag(:q2, "As to my condition, what will be will be.") %>
      <%= f.select(:q2, [["Choose one"],["Strongly disagree", 1],["Moderately disagree", 2],["Slightly disagree", 3],["Slightly agree", 4],["Moderately agree", 5],["Stongly agree", 6]]) %>
    </div>

    <div class="form-group">
      3. <%= label_tag(:q3, "If I see my doctor regularly, I am less likely to have problems with my condition.") %>
      <%= f.select(:q3, [["Choose one"],["Strongly disagree", 1],["Moderately disagree", 2],["Slightly disagree", 3],["Slightly agree", 4],["Moderately agree", 5],["Stongly agree", 6]]) %>
    </div>

    <div class="form-group">
      4. <%= label_tag(:q4, "Most things that affect my condition happen to me by chance.") %>
      <%= f.select(:q4, [["Choose one"],["Strongly disagree", 1],["Moderately disagree", 2],["Slightly disagree", 3],["Slightly agree", 4],["Moderately agree", 5],["Stongly agree", 6]]) %>
    </div>

    <div class="form-group">
      5. <%= label_tag(:q5, "Whenever my condition worsens, I should consult a medically trained professional.") %>
      <%= f.select(:q5, [["Choose one"],["Strongly disagree", 1],["Moderately disagree", 2],["Slightly disagree", 3],["Slightly agree", 4],["Moderately agree", 5],["Stongly agree", 6]]) %>
    </div>

    <div class="form-group">
      6. <%= label_tag(:q6, "I am directly responsible for my condition getting better or worse.") %>
      <%= f.select(:q6, [["Choose one"],["Strongly disagree", 1],["Moderately disagree", 2],["Slightly disagree", 3],["Slightly agree", 4],["Moderately agree", 5],["Stongly agree", 6]]) %>
    </div>

    <div class="form-group">
      7. <%= label_tag(:q7, "Other people play a big role in whether my condition improves, stays the same, or gets worse.") %>
      <%= f.select(:q7, [["Choose one"],["Strongly disagree", 1],["Moderately disagree", 2],["Slightly disagree", 3],["Slightly agree", 4],["Moderately agree", 5],["Stongly agree", 6]]) %>
    </div>

    <div class="form-group">
      8. <%= label_tag(:q8, "Whatever goes wrong with my condition is my own fault.") %>
      <%= f.select(:q8, [["Choose one"],["Strongly disagree", 1],["Moderately disagree", 2],["Slightly disagree", 3],["Slightly agree", 4],["Moderately agree", 5],["Stongly agree", 6]]) %>
    </div>

    <div class="form-group">
      9. <%= label_tag(:q9, "Luck plays a big part in determining how my condition improves.") %>
      <%= f.select(:q9, [["Choose one"],["Strongly disagree", 1],["Moderately disagree", 2],["Slightly disagree", 3],["Slightly agree", 4],["Moderately agree", 5],["Stongly agree", 6]]) %>
    </div>

    <div class="form-group">
      10. <%= label_tag(:q10, "In order for my condition to improve, it is up to other people to see that the right things happen.") %>
      <%= f.select(:q10, [["Choose one"],["Strongly disagree", 1],["Moderately disagree", 2],["Slightly disagree", 3],["Slightly agree", 4],["Moderately agree", 5],["Stongly agree", 6]]) %>
    </div>

    <div class="form-group">
      11. <%= label_tag(:q11, "Whatever improvement occurs with my condition is largely a matter of good fortune.") %>
      <%= f.select(:q11, [["Choose one"],["Strongly disagree", 1],["Moderately disagree", 2],["Slightly disagree", 3],["Slightly agree", 4],["Moderately agree", 5],["Stongly agree", 6]]) %>
    </div>

    <div class="form-group">
      12. <%= label_tag(:q12, "The main thing which affects my condition is what I myself do.") %>
      <%= f.select(:q12, [["Choose one"],["Strongly disagree", 1],["Moderately disagree", 2],["Slightly disagree", 3],["Slightly agree", 4],["Moderately agree", 5],["Stongly agree", 6]]) %>
    </div>

    <div class="form-group">
      13. <%= label_tag(:q13, "I deserve the credit when my condition improves and the blame when it gets worse.") %>
      <%= f.select(:q13, [["Choose one"],["Strongly disagree", 1],["Moderately disagree", 2],["Slightly disagree", 3],["Slightly agree", 4],["Moderately agree", 5],["Stongly agree", 6]]) %>
    </div>

    <div class="form-group">
      14. <%= label_tag(:q14, "Following doctor's orders to the letter is the best way to keep my condition from getting any worse.") %>
      <%= f.select(:q14, [["Choose one"],["Strongly disagree", 1],["Moderately disagree", 2],["Slightly disagree", 3],["Slightly agree", 4],["Moderately agree", 5],["Stongly agree", 6]]) %>
    </div>

    <div class="form-group">
      15. <%= label_tag(:q15, "If my condition worsens, it's a matter of fate.") %>
      <%= f.select(:q15, [["Choose one"],["Strongly disagree", 1],["Moderately disagree", 2],["Slightly disagree", 3],["Slightly agree", 4],["Moderately agree", 5],["Stongly agree", 6]]) %>
    </div>

    <div class="form-group">
      16. <%= label_tag(:q16, "If I am lucky, my condition will get better.") %>
      <%= f.select(:q16, [["Choose one"],["Strongly disagree", 1],["Moderately disagree", 2],["Slightly disagree", 3],["Slightly agree", 4],["Moderately agree", 5],["Stongly agree", 6]]) %>
    </div>

    <div class="form-group">
      17. <%= label_tag(:q17, "If my condition takes a turn for the worse, it is because I have not been taking proper care of myself.") %>
      <%= f.select(:q17, [["Choose one"],["Strongly disagree", 1],["Moderately disagree", 2],["Slightly disagree", 3],["Slightly agree", 4],["Moderately agree", 5],["Stongly agree", 6]]) %>
    </div>

    <div class="form-group">
      18. <%= label_tag(:q18, "The type of help I receive from other people determines how soon my condition improves.") %>
      <%= f.select(:q18, [["Choose one"],["Strongly disagree", 1],["Moderately disagree", 2],["Slightly disagree", 3],["Slightly agree", 4],["Moderately agree", 5],["Stongly agree", 6]]) %>
    </div>


    <div class="form-group" >
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <%= link_to "Cancel", root_path, class: "btn btn-default" %>
      </div>
    </div>
  <% end %>
  </div>
</div>
