<!DOCTYPE html>
<html>
<head>
  <title>IrisLink</title>
  <link href='http://fonts.googleapis.com/css?family=Lancelot' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <%= link_to "IrisLink", root_path, class: "logo" %>


   <% if current_user %>
   <ul class = "nav navbar-nav navbar-right">
      <li class="welcome"> Welcome <%= current_user.full_name %> </li>
      <li><%= link_to "Sign Out", sign_out_path %> </li>
   </ul>

   <% elsif current_user_is_admin %>
   <ul class = "nav navbar-nav navbar-right">
      <li class="welcome"> Welcome <%= current_user_is_admin.full_name %> </li>
      <li><%= link_to "Sign Out", sign_out_path %> </li>
   </ul>

   <% else %>
   <ul class = "nav navbar-nav navbar-right">
      <li> <%= link_to "Sign Up", sign_up_path %> </li>
      <li> <%= link_to "Sign In", sign_in_path %> </li>
    </ul>
   <% end %>
 </nav>

<div class= "container">
  <% if flash[:notice].present? %>
    <p class="alert alert-success"><%= flash[:notice] %></p>
  <% end %>

  <% if flash[:idiot].present? %>
    <p class="alert alert-danger"><%= flash[:idiot] %></p>
  <% end %>

<%= yield %>

</div>

<footer>
<div class= "container">
  <hr>
    <%=link_to "Home", root_path%> | <%=link_to "About", about_path%>
</div>
</footer>
</body>
</html>
